<div id='bitches'>
    <h1>Welcome to
        <br>
        <strong>{{title}}</strong>,
        <br>Enjoy your skate thing</h1>
</div>



<a href="https://pure-earth-23827.herokuapp.com/parks">
    <button type="button" class="btn btn-secondary">Enter</button>
</a>