<div id='bitches'>
    <h1>Welcome to
        <br>
        <strong>{{title}}</strong>,
        <br>Enjoy your skate thing</h1>
</div>



<a href="http://localhost:3000/parks">
    <button type="button" class="btn btn-secondary">Enter</button>
</a>