

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 margin:0;
 height:100%;
}

a {
  color: green;
}

#bitches {
font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-around;
  }

