

body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: red;
}

a {
  color: green;
}

#bitches {
  background-color: dodgerblue;
  font-family: 'Courier New', Courier, monospace
}

