

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 margin:0;
 height:100%;
}

a {
  color:whitesmoke;
}

h1 {
display:flex;
justify-content: space-around;

}

#bitches {
font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-around;
  }

  #enter {
   display:flex;
   justify-content:flex-start;
  }

