<h1>Welcome to Atlanta, Bitch</h1>

{{#each parks}}
<div>
    <a href="/parks/{{this._id}}">{{this.name}}</a>
</div>
<div>
    <a href="/parks/{{this._id}}/delete">Delete {{this.name}}</a>
</div>

{{/each}}



<div>
    <a href="/parks/new">
        Create
    </a>
</div>