<div id="submitform">
    <form method="POST" action="/parks">

        Park Name
        <input type="text" name="name">
        <br>
        <br> Street
        <input type="text" name="street">
        <br>
        <br> City
        <input type="text" name="city">
        <br>
        <br> State
        <input type="text" name="state">
        <br>
        <br>Zip
        <input type="text" name="zip">
        <br>
        <br> Hours
        <input type="text" name="hours">
        <br>
        <br> Level
        <input type="text" name="level">
        <br>
        <br>
        <input type="submit">
        <br>
        <br>
    </form>
</div>