<form method="POST" action="/parks">
    Park Name:
    <input type="text" name="name"> Street:
    <input type="text" name="street"> City:
    <input type="text" name="city"> Zip:
    <input type="text" name="zip"> Hours:
    <input type="text" name="hours"> level:
    <input type="text" name="level">
    <input type="submit">
</form>